NEXTAUTH_SECRET=dev-secret-change-me
NEXTAUTH_URL=http://localhost:3000

DB_TYPE=sqlite
DB_PATH=./walldecor.sqlite
DEV_ADMIN_PASSWORD=Admin12345

DEMO_MODE=false

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="WallDecor - Portal Architekta" <no-reply@walldecor.pl>
